<p-toast [style]="{ width: '300px' }" [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'100ms'"
  [hideTransitionOptions]="'100ms'" [showTransformOptions]="'translateX(100%)'" />
<div class="container my-5  border bg-body-secondary  rounded-1">
  <form [formGroup]="updateForm" (ngSubmit)="updateUserInformation($event)">
    <div class="row jumbotron box8 p-2">
      <div class="col-sm-12 mx-t3 mb-4">
        <h2 class="text-center text-info">Change Password</h2>
        <div *ngIf="errorMessage" class="bg-danger w-50 rounded-5 mx-auto">
          {{errorMessage}}
        </div>
      </div>
      <div class="col-sm-12 form-floating mb-3">
        <input type="password" class="form-control"
          [ngClass]="{'is-invalid': currentPasswordControl.invalid && currentPasswordControl.touched, 'is-valid': currentPasswordControl.valid && currentPasswordControl.touched}"
          id="currentPassword" placeholder="Current Password" formControlName="currentPassword">
        <label for="currentPassword" class="ms-3 text-secondary">Current Password</label>
        <div *ngIf="currentPasswordControl.errors && currentPasswordControl.touched" class="invalid-feedback">
          <div *ngIf="currentPasswordControl.errors['required']">Required</div>
        </div>
      </div>

      <div class="col-sm-12 form-floating mb-3">
        <input type="password" class="form-control"
          [ngClass]="{'is-invalid': passwordControl.invalid && passwordControl.touched, 'is-valid': passwordControl.valid && passwordControl.touched}"
          id="password" placeholder="Password" formControlName="password">
        <label for="password" class="ms-3 text-secondary">Password</label>
        <div *ngIf="passwordControl.errors && passwordControl.touched" class="invalid-feedback">
          <div *ngIf="passwordControl.errors['required']">Required</div>
          <div *ngIf="passwordControl.errors['pattern']">
            Password must be at least 3 characters and include both letters and numbers
          </div>
        </div>
      </div>

      <div class="col-sm-12 form-floating mb-3">
        <input type="password" class="form-control"
          [ngClass]="{'is-invalid': rePasswordControl.invalid && rePasswordControl.touched, 'is-valid': rePasswordControl.valid && rePasswordControl.touched}"
          id="rePassword" placeholder="Confirm Password" formControlName="rePassword">
        <label for="rePassword" class="ms-3 text-secondary">Confirm Password</label>
        <div *ngIf="rePasswordControl.errors && rePasswordControl.touched" class="invalid-feedback">
          <div *ngIf="rePasswordControl.errors['required']">Required</div>
          <div *ngIf="rePasswordControl.hasError('passwordMismatch')">Passwords do not match</div>
        </div>
      </div>

      <div class="col-sm-12 form-group mt-4">
        <button class="btn btn-outline-primary float-right d-block mx-auto mb-5 small w-60" [disabled]="isLoading">
          <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin-pulse"></i>
          Change Password
        </button>
      </div>
    </div>
  </form>
</div>